<div class="row">
  <div class="column small-12">
    <ul class="pagination" role="navigation" aria-label="Pagination">
      {{ if .Paginator.HasNext }}
        <li class="arrow" aria-disabled="true">
          <a href="{{ .Paginator.Next.URL }}">&laquo; Posts <em>antigos<span class="show-for-sr"></span></em></a>
        </li>
      {{ end }}
      <li>
        <span>Página {{.Paginator.PageNumber}} de {{.Paginator.TotalPages}}</span>
      </li>      
      {{ if .Paginator.HasPrev }}
        <li class="arrow" aria-disabled="true">
          <a href="{{ .Paginator.Prev.URL }}"> Posts <em>recentes<span class="show-for-sr"></span></em>&nbsp;&raquo;</a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
