<footer class="whatisthis">
    <hr />
    <div class="row">
        <div class="column small-12 medium-4">
            <p>
                <div class="round-figure">
                    <img src="/img/portrait.jpg" alt="Portrait of the author">
                </div>
                <p class="justified">
                Olá, meu nome é Júlio César Batista. Eu desenvolvo softwares. Atualmente sou pesquisador no <a href="http://www.imago.ufpr.br" target="_blank">IMAGO Research Group - UFPR</a>; <span style="text-decoration:line-through;">desenvolvedor na <a href="http://www.inventti.com.br" target="_blank">Inventti</a></span>; <span style="text-decoration:line-through;">desenvolvedor na <a href="http://www.ellevo.com" target="_blank">Ellevo</a></span>. Também sou mestrando em informática pela <a href="http://ufpr.br" target="_blank">UFPR</a> e bacharel em ciência da computação pela <a href="http://www.furb.br" target="_blank">FURB</a>. É um prazer conhecê-lo, seja bem-vindo.
                </p>
            </p>
        </div>
        <div class="column small-12 medium-4">
            {{ if isset .Site.Params "education" }}
                <h1>Education</h1>
                <ul class="ul-edu fa-ul">
                    {{ range $.Site.Params.education }}
                        <li><i class="fa-li fa fa-graduation-cap"></i>
                            {{ .course }}, {{ .year }} ({{ .institution }})
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
        <div class="column small-12 medium-4">
            <h1 id="contact">Contact</h1>
            <ul class="fa-ul">
                {{ range $.Site.Params.social }}
                    <li>
                        <i class="fa-li {{ .icon_pack }} {{ .icon_pack}}-{{ .icon }}" 
                            style="padding-top:3px;"></i>
                            <a href="{{ .link }}">{{ .text }}</a>
                            {{ if .site}} on {{ .site }}{{ end }}
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</footer>