<footer class="whatisthis" id="about">
    <hr />
    <div class="row">
        <div class="column small-12 medium-4">
            <p>
                <div class="round-figure">
                    <img src="/img/portrait.jpg" alt="Portrait of the author">
                </div>
                <p class="about-text">
                    {{ .Site.Params.about | markdownify }}
                </p>
            </p>
        </div>
        <div class="column small-12 medium-4">
            {{ if isset .Site.Params "education" }}
                <h1>Education</h1>
                <ul class="ul-edu fa-ul">
                    {{ range $.Site.Params.education }}
                        <li><i class="fa-li fa fa-graduation-cap"></i>
                            {{ .course }}, {{ .year }} ({{ .institution }})
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
        <div class="column small-12 medium-4">
            <h1 id="contact">Contact</h1>
            <ul class="fa-ul">
                {{ range $.Site.Params.social }}
                    <li>
                        <i class="fa-li {{ .icon_pack }} {{ .icon_pack}}-{{ .icon }}" 
                            style="padding-top:3px;"></i>
                            <a href="{{ .link }}">{{ .text }}</a>
                            {{ if .site}} on {{ .site }}{{ end }}
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</footer>